<ion-view view-title="Login" hide-back-button="true">
  <ion-content style="background-color: #f5f5f5;">
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <div class="padding" style="text-align: center;">
          <i class="icon ion-ios-list-outline" style="font-size: 90px;"></i>
          <h3>Not Logged in</h3>
      <button class="button button-block button-energized" ng-click="login()">
          Log in
      </button>
          <p>Or</p>
          <button class="button button-block button-calm">
              Sign Up
          </button>
      </div>
      <div class="spacer" style="width: 300px; height: 70px;"></div>
  </ion-content>
</ion-view>
