<ion-view cache-view="false">
    <ion-nav-title>
        Deals
    </ion-nav-title>
  <ion-content style="background-color: #f5f5f5;" has-header="false">
      <div class="spacer" style="width: 300px; height: 20px;"></div>

      <div class="list card">

          <div class="item">
              <h1>20% OFF - Every Thursday</h1>
          </div>

          <div class="item item-body">
              <img class="full-image" src="http://www.keenthemes.com/preview/conquer/assets/plugins/jcrop/demos/demo_files/image1.jpg">
              <p>
                  Get 20% OFF Every thursday, with this great offer. Terms and condtions apply.
              </p>
          </div>

      </div>

      <div class="list card">

          <div class="item">
              <h1>20% OFF - Every Thursday</h1>
          </div>

          <div class="item item-body">
              <img class="full-image" src="http://www.keenthemes.com/preview/conquer/assets/plugins/jcrop/demos/demo_files/image1.jpg">
              <p>
                  Get 20% OFF Every thursday, with this great offer. Terms and condtions apply.
              </p>
          </div>

      </div>

      <div class="list card">

          <div class="item">
              <h1>20% OFF - Every Thursday</h1>
          </div>

          <div class="item item-body">
              <img class="full-image" src="http://www.keenthemes.com/preview/conquer/assets/plugins/jcrop/demos/demo_files/image1.jpg">
              <p>
                  Get 20% OFF Every thursday, with this great offer. Terms and condtions apply.
              </p>
          </div>

      </div>

      <div class="list card">

          <div class="item">
              <h1>20% OFF - Every Thursday</h1>
          </div>

          <div class="item item-body">
              <img class="full-image" src="http://www.keenthemes.com/preview/conquer/assets/plugins/jcrop/demos/demo_files/image1.jpg">
              <p>
                  Get 20% OFF Every thursday, with this great offer. Terms and condtions apply.
              </p>
          </div>

      </div>

      <div class="spacer" style="width: 300px; height: 70px;"></div>
  </ion-content>
</ion-view>
