<ion-view view-title="Settings" hide-back-button="true">
  <ion-content style="background-color: #f5f5f5;">
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <ul class="list">
          <li class="item">
              Help
          </li>
          <li class="item">
              App feedback
          </li>
      </ul>

      <div class="list">

          <div class="item item-divider">
              Settings
          </div>

          <a class="item" href="#">
              Help
          </a>
          <a class="item" href="#">
              App feedback
          </a>
          <a class="item" href="#">
              Settings
          </a>
          <a class="item" href="#">
              Map
          </a>
          <a class="item" href="#">
              Opening times
          </a>
      </div>
  </ion-content>
</ion-view>
